.page-container {
  width: 90%;
  margin: 10px auto 0;
}

.search-bar {
  flex: 1;
  background-color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.showcase {
  display: flex;
  justify-content: flex-start;
}

.side-bar {
  width: 278px;
  margin-right: 20px;
  padding: 10px;
}

.product-list {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}

.product-item {
  display: flex;
  border-bottom: 1px solid #ebebeb;
  padding: 10px;
  justify-content: flex-start;
  gap: 16px;
}


.side-bar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-bar-list-item {
  margin-bottom: 10px;
}

.side-bar-list-item a {
  color: #666;
  text-decoration: none;
}
