.page-container {
  width: 90%;
  margin: 10px auto 0;
}

.my-label {
  display: block;
  margin-bottom: 2.5px;
}

.my-input {
  display: block;
  height: 40px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 8px;
}

.my-btn-circle {
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  border: none;
  background-color: #3483fa;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  padding: 0px 0 0 2px;
  transition: ease-in-out 0.2s;
}

.my-btn {
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #3483fa;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  padding: 0 20px;
  transition: ease-in-out 0.2s;
}

.my-btn:hover {
  background-color: #2968c8;
}

.my-btn:active {
  transform: scale(0.95);
}

.my-btn-v2 {
  background-color: #06a550;
}

.my-btn-v2:hover {
  background-color: #04c35d;
}

.my-btn-v3 {
  background-color: #fa3452;
}

.my-btn-v3:hover {
  background-color: #f92040;
}

.my-btn[disabled] {
    opacity: .5;
    transition: none;
    transform: none;
    cursor: not-allowed;
}
